/**
 * Styles for the Swagger API documentation (engine/api/v1.x/index.html)
 */


/* ReDoc doesn't change outer page styles */
body {
    margin: 0;
    padding: 0;
}
/**
 * Disable request-type badges, see https://github.com/Rebilly/ReDoc/issues/61
 */
redoc .operation-type {
    display: none !important;
}

